* {
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html,
main,
header {
  font-size: 62.5%;
  background-color: #f4f4f4;
}
.font-lexend {
  font-family: "Lexend", sans-serif;
}
.font-roboto {
  font-family: "roboto", sans-serif;
}
.font-w5.font-w5 {
  font-weight: 500;
}
.font-w4.font-w4 {
  font-weight: 400;
}
.font-w6.font-w6 {
  font-weight: 600;
}
